<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>


<div class="container center-contents">
    <div class="row">
        <form class="form-signin" method="post" th:action="@{/login}">
            <h1 class="h3 mb-3 font-weight-normal"> LOGIN </h1>
            <label for="username" class="sr-only">ID</label>
            <input id="username"
                   name="username"
                   class="form-control"
                   placeholder="Input your ID."
                   required autofocus>
            <label for="password" class="sr-only">PASSWORD</label>
            <input type="password"
                   id="password"
                   name="password"
                   class="form-control"
                   placeholder="Input your password"
                   required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="remember-me"> login remember
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block"  type="submit"> LOGIN </button>
            <div class="error-message" th:if="${loginError}">
                <span> ID or Password do not match </span>
            </div>
        </form>

    </div>
</div>

<script th:src="@{/js/bootstrap.js}" />
</body>
</html>